*{
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: 'pokemon';
    src: url('/fonts/pokemon/Pokemon\ Solid.ttf');
}

.container{
    background-image: url("../images/grass_bgpng.png");
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    position: fixed; 
}

h1{
    font-family: 'pokemon';
    font-size: 30px;
    width: 21ch;
    white-space: nowrap;
    overflow: hidden;
    animation:typing 2s steps(21);
    margin: auto;

    position: fixed; 
    top: 20%; 
    left: 50%; 
    transform: translateX(-50%); 
}

@keyframes typing{
    from{
        width: 0;
    }
}

.btn_inicial{
    width: 150px;
    height: 40px;
    padding: 10px;
    border-radius: 5px;
    border-color: transparent;
    background-color: yellow;
    text-align: center;
    position: fixed; 
    top: 40%; 
    left: 50%; 
    transform: translateX(-50%);
    font-size: 15px; 
    font-family: Georgia, 'Times New Roman', Times, serif;
    cursor: pointer;
    transition: all 0.4s linear;
}
.btn_inicial a{
    text-decoration: none;
    color: rgb(138, 128, 128);
}

.btn_inicial:hover{
    background-color: aqua;

}

@media (max-width:350px){
    h1{
        font-family: 'pokemon';
        font-size: 20px;
        width: 21ch;
        white-space: nowrap;
        overflow: hidden;
        animation:typing 2s steps(21);
        margin: auto;
    
        position: fixed; 
        top: 20%; 
        left: 50%; 
        transform: translateX(-50%); 
    }
}

@media (max-height: 360px){
    .btn_inicial{
        width: 150px;
        height: 40px;
        padding: 10px;
        border-radius: 5px;
        border-color: transparent;
        background-color: yellow;
        text-align: center;
        position: fixed; 
        top: 40%; 
        left: 50%; 
        transform: translateX(-50%);
        font-size: 15px; 
        font-family: Georgia, 'Times New Roman', Times, serif;
        cursor: pointer;
        transition: all 0.4s linear;
        margin-top: 40px;
    }
}

