*{
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: 'pokemon';
    src: url('/fonts/pokemon/Pokemon\ Solid.ttf');
}

.container{
    background-image: url("../images/grass_bgpng.png");
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    font-family: 'pokemon';
    font-size: 30px;
    width: 21ch;
    white-space: nowrap;
    overflow: hidden;
    animation:typing 2s steps(21);
    margin-bottom: 20vh;
    text-align: center;
}

@keyframes typing{
    from{
        width: 0;
    }
}

.btn_inicial{
    width: 200px;
    height: 60px;
    padding: 10px;
    border-radius: 5px;
    border-color: transparent;
    background-color: yellow;
    font-size: 15px; 
    font-family: Georgia, 'Times New Roman', Times, serif;
    cursor: pointer;
    transition: all 0.4s linear;
    margin-bottom: 20vh;
}
.btn_inicial a{
    text-decoration: none;
    color: rgb(138, 128, 128);
    
}

.btn_inicial:hover{
    background-color: aqua;

}

@media (max-width:350px){
    h1{
        font-family: 'pokemon';
        font-size: 100%;
        width: 21ch;
        white-space: nowrap;
        overflow: hidden;
        animation:typing 2s steps(21);
        margin-bottom: 20vh;
        text-align: center;
    }
    
    .btn_inicial{
        width: 100%;
        height: 60px;
        padding: 10px;
        border-radius: 5px;
        border-color: transparent;
        background-color: yellow;
        font-size: 15px; 
        font-family: Georgia, 'Times New Roman', Times, serif;
        cursor: pointer;
        transition: all 0.4s linear;
        margin-bottom: 20vh;
        font-size: 10px;
    }
}